[submodule "contracts/justanaccount"]
	path = contracts/justanaccount
	url = https://github.com/JustaName-id/justanaccount
[submodule "contracts/permissions"]
	path = contracts/permissions
	url = https://github.com/JustaName-id/permissions
